body {
  height: 100;
  /* display: flex; */
  justify-content: start;
}

.toggle {
  padding: 20px;
  /* width: 10%; */
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ff80ab;
}

.todo {
  display: flex;
  justify-content: center;
}

.todos {
  display: grid;
  grid-template-columns: auto auto auto auto;
  list-style-type: none;
  grid-gap: 5px 10px;
  padding: 0%;
  justify-content: space-evenly;
  margin: 30px 30px;
  justify-content: space-between;
}

.todos li {
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

span {
  text-align: center;
}

.buttons {
  display: flex;
}
.submit {
  padding: 4px;
  margin-left: 5px;
  border-radius: 6px;
  background-color: #e3f2fd;
  
}
.input {
  border-radius: 6px;
}
